@model Genre
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form asp-action="edit" method="post">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">FullName</label>
                    <input asp-for="Name" type="text" class="form-control" id="name">
                    <span class="text-danger" asp-validation-for="Name"></span>

                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>

